/* QUICK RESET */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  background: -webkit-linear-gradient(200deg, #145e98, #d21e97);
  background: -moz-linear-gradient(200deg, #145e98, #d21e97);
  background: -ms-linear-gradient(200deg, #145e98, #d21e97);
  background: -o-linear-gradient(200deg, #145e98, #d21e97);
  background: linear-gradient(200deg, #145e98, #d21e97);

}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  background-color: transparent;
  width: 30rem;
  height: 45.6rem;
  -moz-perspective: 1500px;
  perspective: 1500px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 20rem;
    height: 35.6rem;
  }
}

.card-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 5px 5px 30px rgba(0,0,0, 9);
  transition: transform .5s ease-in-out;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-side--front {
  transform: rotateY(180deg);
  background: #FFFFFF;
}

.card-side--back {
  background-color: #000000;
}

.card:hover .card-side--front {
  transform: rotateY(0deg);
}

.card:hover .card-side--back {
  transform: rotateY(180deg);
}

.joker {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
  font-family: Herculanum, serif;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  color: #cb9e3f;
}

.joker-top {
  width: 10%;
  top: 0;
  left: 0;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.joker-bottom {
  width: 10%;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
  margin-bottom: 1.5rem;
  margin-right: 1rem;
}

.joker-letterK {
  font-size: 1.7rem;
}
